main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #333333;
    overflow: hidden;
}

.board {
    height: 60vh;
    background-color: rebeccapurple;
    /*border: 1px solid white;*/
}

.board__row {
    display: flex;
}

.board__row__cell {
    width: 10px;
    height: 10px;
    /*border: 1px solid white;*/
}

.board__row__cell.active, .board__row__cell:hover {
    background-color: white;
}
/*.board__row__cell.active {*/
/*    background-color: white;*/
/*}*/

/*.board__row__cell.active {*/
/*    background-color: black;*/
/*    border-color: black;*/
/*}*/

.btn {
    padding: 10px;
    color: black;
    background-color: greenyellow;
    transition: 0.3s ease all;
}

.btn.active {
    background-color: red;
    color: white;
}